<div *ngIf="isLoading" class="d-flex justify-content-center h-100">
  <app-spinner [ngClass]="'my-auto'"></app-spinner>
</div>

<div *ngIf="!isLoading" class="d-flex justify-content-evenly">
  <button mat-fab color="primary" class="mx-auto my-5" (click)="previousPage()">
    <mat-icon>chevron_left</mat-icon>
  </button>
  <div class="container">
    <div class="row">
      <div class="col" *ngFor="let game of games">
        <app-game-summary
          [game]="game"
        ></app-game-summary>
      </div>
    </div>
  </div>
  <button mat-fab color="primary" class="mx-auto my-5" (click)="nextPage()">
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>


