<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="ms-md-5">
      <div class="me-lg-5 ms-lg-5"></div>
    </div>
    <a class="navbar-brand logo-size">Gemixque</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-md-5">
        <li class="nav-item">
          <a class="nav-link" routerLink="games">View Games</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="">Home</a>
        </li>
        <li class="nav-item" *ngIf="authService.isLoggedIn">
          <a class="nav-link" routerLink="profile">Profile</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" routerLink="sign-up">Sign up</a>
        </li>
        <li class="nav-item dropdown">
          <app-login-dropdown></app-login-dropdown>
        </li>
        <li class="nav-item" *ngIf="authService.isLoggedIn">
          <a class="nav-link">Logout</a>
        </li>
        <div class="me-lg-5"></div>
      </ul>
    </div>
  </div>
</nav>
