<div *ngIf="isLoading" class="d-flex justify-content-center h-100">
  <app-spinner [ngClass]="'my-auto'"></app-spinner>
</div>

<div *ngIf="!isLoading">
  <div class="row">
    <div class="d-flex justify-content-evenly">
      <!-- first card -->
      <div class="card mb-3 mt-3 ms-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img [src]="game?.visuals?.cover" class="img-thumbnail" />
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Stats</h5>
                <p class="card-text">
                  Number of reviews: {{ game?.average?.nrReviews }}
                </p>
                <p class="card-text">
                  Average of reviews score:
                  {{ game?.average?.value | number: "1.0-2" }}
                </p>
                <p class="card-text">
                  Rating of external reviews:
                  {{ game?.average?.aggregatedRating | number: "1.0-2" }}
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ game?.title }}</h5>
              <p class="mt-3">
                <button
                  class="btn btn-primary"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseExample"
                  aria-expanded="false"
                  aria-controls="collapseExample"
                >
                  Read summary
                </button>
              </p>
              <div class="collapse" id="collapseExample">
                <div class="card card-body">
                  {{ game?.visuals?.summary }}
                </div>
              </div>
              <p class="card-text">
                <small class="text-muted">{{ game?.genres }}</small>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- second card -->
      <div
        *ngIf="game?.visuals?.storyline"
        class="card mb-3 mt-3 ms-3 me-3"
        style="max-width: 540px"
      >
        <div class="card-body">
          <h5 class="card-title">Storyline</h5>
          <p class="mt-3">
            <button
              class="btn btn-primary"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseExample2"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              Read storyline
            </button>
          </p>
          <div class="collapse" id="collapseExample2">
            <div class="card card-body">
              {{ game?.visuals?.storyline }}
            </div>
          </div>
        </div>
      </div>
      <!-- third card -->
      <div class="card mb-3 mt-3 ms-3 me-3" style="max-width: 540px">
        <div class="card-body">
          <h5 class="card-title">Details</h5>
          <p>Game modes: {{ game?.details?.gameModes }}</p>
          <p>Companies: {{ game?.details?.involvedCompanies }}</p>
          <p>Platforms: {{ game?.details?.platforms }}</p>
          <p>Release dates: to do</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row mt-3 ms-3">
    <h2>Screenshots</h2>
    <hr class="w-25" />
  </div>
  
  <ngb-carousel class="mx-auto" *ngIf="screenshots" style="width: 50rem;">
    <ng-template ngbSlide *ngFor="let screenshot of screenshots">
      <div class="picsum-img-wrapper">
        <img [src]="screenshot">
      </div>
    </ng-template>
  </ngb-carousel>
  
  
  <!-- de adaugat screenshots -->
  
  <div class="row mt-3 ms-3">
    <h2>Reviews</h2>
    <hr class="w-25" />
  </div>
  
  <!-- de adaugat reviews -->
</div>

